.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  box-sizing: border-box;
}

.project-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  flex-grow: 0;
  flex-shrink: 0;
  width: 600px; /* 원하는 너비로 설정 */
  padding: 30px;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row; /* 두 article을 가로 정렬 */
  justify-content: space-between; /* 필요에 따라 간격 조절 */
  align-items: flex-start; /* 상단 정렬 */
  gap: 20px; /* 두 article 사이 간격 */
}

article {
  display: flex;
  flex-direction: column; /* article 내부는 세로 정렬 */
  align-items: flex-start; /* 좌측 정렬 */
  width: 45%; /* article의 너비를 적절히 설정 */
  box-sizing: border-box;
}

.info-article img {
  max-width: 100%; /* 이미지 크기 조절 */
  height: auto;
}
