.App {
  background-color: #ffecdb;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  justify-content: flex-start; /* 위쪽 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  flex-direction: column;
  padding-left: 3rem; /* 왼쪽 여백 */
  padding-right: 3rem; /* 왼쪽 여백 */
  padding-top: 3rem; /* 상단 여백 */
  margin: 0;
}

.intro {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 3rem); /* 최소 2rem, 최대 4rem */
  margin-bottom: 1rem;
}

p {
  font-size: clamp(1rem, 4vw, 2rem); /* 최소 1.5rem, 최대 3rem */
}
