.App {
  background-color: #ffecdb;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  flex-direction: column;
  padding: 3rem; /* 모든 방향에 3rem 여백 */
  padding-top: calc(3rem + 4rem);
  margin: 0;
  font-family: "KimjungchulMyungjo-Regular";
}
