.App {
  background: linear-gradient(to bottom, #ffecdb, #ffab91);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 컴포넌트가 화면 위에서부터 시작하도록 */
  align-items: center;
  padding: 3rem; /* 전체 여백 */
  padding-top: calc(3rem + 4rem);
  margin: 0;
  font-family: "KimjungchulMyungjo-Regular";
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .App {
    padding: 1rem;
    padding-top: calc(1rem + 4rem);
  }

  .section {
    padding: 1rem; /* 모바일에서 섹션마다 적절한 여백 추가 */
  }
}

.footer {
  margin-top: auto; /* 푸터를 항상 아래에 고정 */
}

@media (max-width: 768px) {
  .App {
    padding: 1rem;
    padding-top: calc(1rem + 4rem);
    background: linear-gradient(
      to bottom,
      #ffecdb,
      #ffab91
    ); /* 배경색 재설정 */
  }
}
